body {
  overflow: hidden;
  background-color: black;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

main {
  padding: 0;
}

#maincontent {
  margin-left: 128px;
  margin-right: 128px;
}

#newForm {
  margin-left: 128px;
  margin-right: 128px;
}

.outlined-text {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.text-colour-animation {
  font-weight: bold;
  color: transparent;
  animation: effect 2s linear infinite;
}
@keyframes effect {
  0% {
    background: #9bb8e9;
    -webkit-background-clip: text;
  }
  25% {
    background: #ff9999;
    -webkit-background-clip: text;
  }
  50% {
    background: #fee501;
    -webkit-background-clip: text;
  }
  75% {
    background: #63ff73;
    -webkit-background-clip: text;
  }
  100% {
    background: #9bb8e9;
    -webkit-background-clip: text;
  }
}

.waving:before {
  content: attr(data-hover);
}

.waving {
  animation-name: wave-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#formButtons {
  display: flex;
  /* background-color: black; */
  width: 380px;

  justify-content: space-between;
}

#useGuide{
  display: flex;
}

@media (max-width: 480px) {
  #maincontent {
    margin: 0;
  }
  #addButton {
    margin-bottom: 5px;
  }
  #formButtons {
    display: grid;
    margin: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
  }
  #newForm {
    margin-left: 0px;
    margin-right: 0px;
  }

  #useGuide{
    display: none;
  }
}

@media (max-width: 481px) and (min-width: 767px) {
  #maincontent {
    margin: 0;
  }
}
